.contact-form {
    &__success {
        @extend .alert-success;
    }
    &__danger {
        @extend .alert-danger;
    }
    &__success,
    &__danger {
        display: none;
        margin-bottom: $line-height-computed;
        padding: 10px;
        p {
            margin: 0;
        }
    }
    &__submit {
        @extend .btn;
        @extend .btn-primary;
    }
}
