.contact-card {
    display: flex;
    border: 1px solid $gray-lighter;
    box-shadow: 0 0 25px $gray-lighter;
    padding: 25px 15px;
    &:first-child {
        margin-bottom: 30px;
    }

    &__icon {
        @extend .text-center;
        display: inline-block;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        line-height: 50px;
        background-color: $brand-primary;
        font-size: 22px;
        margin-right: 20px;
    }

    &__header {
        text-transform: none;
        margin: 0 0 3px 0;
    }
}
