#instagram-feed {
    img {
        box-shadow: 0 0 10px $gray-base;
        border-bottom: 3px solid $brand-primary;
        transition: all 0.4s ease-in-out;

        &:hover {
            transform: rotate(-5deg);
        }
    }
}
