.navigation {
    &__container {
        @extend .container;
        width: 100%;
    }

    &__list {
        @extend .navbar-nav;
        @extend .navbar-right;
        @extend .list-unstyled;
    }

    &__list-item {
        padding: 10px 0;
        @include breakpoint-sm {
            padding: 0 20px;
            &:last-child {
                padding: 0 0 0 20px;
            }
        }
    }

    &__list-item-link {
        font-size: $font-size-small;
        text-transform: uppercase;
        @include breakpoint-sm {
            line-height: $navbar-height;
        }
    }
}

/* WP Nav Menu */
.menu-primary-navigation-container {
    @extend .navigation__container;

    #menu-primary-navigation {
        @extend .navigation__list;

        .menu-item {
            @extend .navigation__list-item;

            a {
                @extend .navigation__list-item-link;
            }
        }
    }
}
