.service-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid $gray-lighter;
    border-radius: 15px;
    box-shadow: 0 0 25px $gray-lighter;
    padding: 45px 25px;

    p {
        @extend .text-center;
        margin-bottom: $line-height-computed * 2;
    }

    ul {
        @extend .list-primary;
        margin-top: 5px;
    }

    li {
        @extend .list-primary__item;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__icon {
        @extend .fa;
        @extend .fa-4x;
        color: $brand-primary;
        margin-bottom: $line-height-computed * 1.5;
    }

    &__header {
        @extend .text-center;
        margin-bottom: $line-height-computed * 1.5;
    }

    &__list-header {
        color: $brand-primary;
    }
}
