.social-icons {
    &__icon {
        @extend .text-center;
        display: inline-block;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border: 1px solid $gray-base;
        font-size: $font-size-large;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
        &:hover,
        &:active {
            border-color: $brand-primary;
        }
    }
}
