.hero {
    @extend .container;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $gray-base url("../images/hero-background.jpg") center/cover;
    height: 100vh;
    width: 100%;
    padding: 0;

    &__sub-header {
        @extend .text-lead;
        @extend .text-center;
        font-weight: 400;
        color: $white;
    }
}

.about {
    &__image {
        margin: 0 auto;
    }

    &__header-container {
        display: flex;
        justify-content: space-around;
        margin-bottom: 35px;
        @include breakpoint-md {
            margin: 0 0 60px;
        }
    }

    &__header {
        border-bottom: 2px solid $gray-lighter;
        margin: 0;
        padding: 0 10% 5px;

        &:hover {
            cursor: pointer;
        }

        &--active {
            color: $brand-primary;
            border-bottom: 2px solid $brand-primary;
        }
    }

    &__description,
    &__skills {
        padding: 0 20px;
    }

    &__social-icon {
        @extend .text-center;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        border: 1px solid $gray-base;
        font-size: $font-size-large;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__progress-container {
        @extend .progress;
        margin-bottom: $line-height-computed * 1.5;
    }
}

#services,
#contact {
    background-color: $brand-secondary;
}
