@mixin breakpoint-custom($breakpoint) {
    @media (min-width: #{$breakpoint}) {
        @content;
    }
}

@mixin breakpoint-max($breakpoint) {
    @media (max-width: #{$breakpoint}) {
        @content;
    }
}

@mixin breakpoint-xs {
    @include breakpoint-custom($screen-xs-min) {
        @content;
    }
}

@mixin breakpoint-sm {
    @include breakpoint-custom($screen-sm-min) {
        @content;
    }
}

@mixin breakpoint-md {
    @include breakpoint-custom($screen-md-min) {
        @content;
    }
}

@mixin breakpoint-lg {
    @include breakpoint-custom($screen-lg-min) {
        @content;
    }
}

@mixin responsive-text($min, $max) {
    $range: $max - $min;
    $step: round($range / 3);
    font-size: $min;
    @include breakpoint-xs {
        font-size: $min + $step;
    }
    @include breakpoint-sm {
        font-size: $min + ($step * 2);
    }
    @include breakpoint-md {
        font-size: $max - $step;
    }
    @include breakpoint-lg {
        font-size: $max;
    }
}
