// Variables

// Colors
// -------------------------
$gray-base: #222;
$gray-light: #444;
$gray-lighter: #DDD;

$brand-primary: #1589FF;
$brand-secondary: #F7F7F7;
$brand-tertiary: #A94442;

$white: #FFF;

// Scaffolding
// -------------------------
$body-bg: $white;
$text-color: $gray-light;

$link-color: $gray-light;
$link-hover-color: $brand-primary;
$link-hover-decoration: none;

// Typography
// -------------------------
$font-family-base: "Poppins", Helvetica, Arial, sans-serif;

$font-size-small: 13px;
$font-size-base: 15px;
$font-size-large: 17px;

$font-size-h1: 85px;
$font-size-h2: 45px;
$font-size-h3: 21px;
$font-size-h4: $font-size-large;
$font-size-h5: $font-size-base;

$line-height-base: 1.5;
$line-height-computed: floor($font-size-base * $line-height-base);

$headings-font-family: "Montserrat", Helvetica, Arial, sans-serif;
$headings-font-weight: 600;
$headings-line-height: 1.2;
$headings-color: $gray-base;

// Components
// -------------------------
$component-active-color: $brand-primary;
$label-color: $gray-base;
$cursor-disabled: not-allowed;

// Buttons
// -------------------------
$btn-font-weight: 400;

$btn-primary-color: $white;
$btn-primary-bg: $brand-primary;
$btn-primary-border: $brand-primary;

$btn-link-disabled-color: lighten($brand-primary, 5%);

// Forms
// -------------------------
$input-bg: transparent;
$input-bg-disabled: $gray-lighter;

$input-color: $gray-base;
$input-border: $gray-light;

// Media queries breakpoints
// -------------------------
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

// Navbar
// -------------------------

// Navbar basics
$navbar-height: 60px;
$navbar-default-bg: $white;
// $navbar-default-border: $white;
$navbar-default-link-color: $gray-base;
$navbar-default-link-hover-color: $brand-primary;

// Navbar brand label
$navbar-default-brand-color: $brand-primary;
$navbar-default-brand-hover-color: $brand-primary;

// Navbar toggle
$navbar-default-toggle-hover-bg: transparent;
$navbar-default-toggle-icon-bar-bg: $gray-base;
$navbar-default-toggle-border-color: transparent;

// Progress bars
// -------------------------

$progress-bg: $gray-lighter;
$progress-bar-color: $white;
$progress-bar-bg: $brand-primary;

// Custom
// -------------------------

$brand-font-size-small: $font-size-h3;
$brand-font-size-base: 25px;

$text-lead-font-size-small: 25px;
$text-lead-font-size-large: 51px;
