// Elements
//
// This is the components section of the guide. This includes styles for
// variations of every component: forms fields, buttons, alerts, etc.
//
// Styleguide 2.0

// Headings
//
// Base styles for all heading tags.
//
// markup:
// <h1>H1 font size: $font-size-h1.</h1>
// <h2>H2 font size: $font-size-h2.</h2>
// <h3>H3 font size: $font-size-h3.</h3>
// <h4>H4 font size: $font-size-h4.</h4>
// <h5>H5 font size: $font-size-h5.</h5>
//
// Styleguide 2.1

// Headings
// -------------------------
h1, h2, h3, h4, h5, h6
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;

    > a {
        color: inherit;
    }
}

h1, .h1,
h2, .h2,
h3, .h3 {
    margin-top: $line-height-computed;
    margin-bottom: ($line-height-computed / 2);
}

h4, .h4,
h5, .h5,
h6, .h6 {
    margin: 0 0 $line-height-computed;
}

h1, .h1 {
    @include responsive-text(33px, $font-size-h1);
    font-weight: 900;
    color: $brand-primary;
}

h2, .h2 {
    @extend .text-center;
    @include responsive-text(32px, $font-size-h2);
    font-weight: 900;
    letter-spacing: 2px;
    margin: 0 0 40px;
    @include breakpoint-sm {
        margin: 0 0 50px;
    }
}

h3, .h3 {
    @include responsive-text(18px, $font-size-h3);
}

h4, .h4 {
    font-size: $font-size-h4;
    text-transform: uppercase;
}

h5, .h5 {
    font-size: $font-size-h5;
    text-transform: uppercase;
    margin: 0 0 ($line-height-computed / 3);
}
