// Block Text
//
// markup:
// <p>The New York Yankees are an American professional baseball team based in the New York City borough of the Bronx.</p>
// <p>As one of the most successful sports clubs in the world, the Yankees have won 18 division titles, 40 AL pennants, and 27 World Series championships, all of which are MLB records. The Yankees have won more titles than any other franchise in the four major North American sports leagues. The team's rivalry with the Boston Red Sox is one of the most well-known rivalries in U.S. sports.</p>
// <p>The Yankees have garnered enormous popularity and a dedicated fanbase, as well as widespread enmity from fans of other MLB teams.</p>
//
// Styleguide 2.2

p {
    margin: 0 0 $line-height-computed;
    line-height: floor($line-height-computed * 1.3);
}

// Modified Block Text
//
// .text-lead - Larger size, used for lead paragraphs
// .text-highlight - Highlight using primary branding
//
// markup:
//  <p class="{$modifiers}">Long before dorothy arrives, two very different young women meet. One is smart, misunderstood and born with emerald-green skin and the other is a popular, bubbly blonde.</p>
//
// Styleguide 2.2.1

.text-lead {
    @include responsive-text($text-lead-font-size-small, $text-lead-font-size-large);
}

.text-highlight {
    color: $brand-primary;
}

.text-marginless {
    margin: 0;
}

.text-bold {
    font-weight: 700;
}

// Alignment
// -------------------------
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}

// Text transformation
// -------------------------
.text-lowercase {
     text-transform: lowercase;
}

.text-uppercase {
     text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}
