// Lists
//
// Styleguide 2.4

ul {
    margin-top: 0;
    margin-bottom: ($line-height-computed / 2);
}

// Unordered Lists
//
// .default - Default List, same as not using a class
// .list-unstyled - List Without Bullets
// .list-inline - Inline List
//
//markup:
//<ul class="{$modifiers}">
//<li>List Item</li>
//<li>List Item</li>
//<li>List Item</li>
//</ul>
//
// sg-wrapper:
// <div class="col-sm-4">
//   <sg-wrapper-content/>
// </div>
//
// Styleguide 2.4.1

@mixin list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-unstyled {
    @include list-unstyled;
}

.list-inline {
    @include list-unstyled;
    margin-left: -5px;

    > li {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.list-primary {
    @extend .list-unstyled;
    @extend .text-center;
    margin: 0;

    &__item {
        margin-bottom: $line-height-computed / 4;
    }
}
