// Images
//
// Base styles for content images.
//
//.alignnone - Align None
//.aligncenter - Align Center
//.alignleft - Align Left
//.alignright - Align Right
//
//markup:
//<div>
//<p>Sally Field has never shied away from a fight in her long and varied career. She brought a combination of tensile strength and vulnerability to her two Oscar-winning roles: as the union organizer in Norma Rae and as the staunch widow fighting to save a cotton farm in the Depression-era South in Places in the Heart.
//<p><img src="/styleguide/images/fpo.jpg" class="{$modifiers}" width="400" height="225"/></p>
//<p>Now Field is back in the 1930s, on the front lines of a new war of survival — this time as the indomitable matriarch in the new Broadway production of Tennessee Williams’ The Glass Menagerie. The battles — giving heart to her disabled daughter, Laura, and absorbing the blows from rebellious son Tom — are tempered with a ferocious love for her children.
//</p>
//</div>
//
// sg-wrapper:
// <div class="col-sm-12">
//   <sg-wrapper-content/>
// </div>
//
// Styleguide 2.5

// Media Alignment
// -------------------------
.alignnone {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    height: auto;
}

.aligncenter {
    display: block;
    margin: ($line-height-computed / 2) auto;
    height: auto;
}

.alignleft,
.alignright {
    margin-bottom: ($line-height-computed / 2);
    height: auto;
}

@media (min-width: $screen-sm-min) {
    // Only float if not on an extra small device
    .alignleft {
        float: left;
        margin-right: ($line-height-computed / 2);
    }
    .alignright {
        float: right;
        margin-left: ($line-height-computed / 2);
    }
}

img.full-width-image,
.full-width-image > img {
    width: 100%;
}

img {
    @extend .img-responsive;
}
