// Buttons
//
// All defined button style variations.
//
// .btn-primary 	- Primary button
//
// markup:
// <p><button class="btn {$modifiers}">Button text</button></p>
//
// Styleguide 2.6

.btn {
    width: 100%;
}

.btn-hamburger {
    @extend .navbar-toggle;
    padding: 9px 0;
}
