// Form Fields
//
// Styleguide 2.7

.input-group-addon {
    position: absolute;
    top: 5px;

    & .fa {
        color: $brand-primary;
    }
}

.form-control {
    border-style: none none solid none;
    border-bottom: 2px solid $gray-base;
    border-radius: 0;
    box-shadow: none;
    padding: 6px 22px;
    &:hover {
        border-color: $brand-primary;
    }
    &:focus {
        border-color: $brand-primary;
        box-shadow: none;
    }
}

textarea {
    max-height: 300px;
    min-height: 120px;
    max-width: 100%;
    min-width: 100%;

    &.form-control {
        height: 120px;
    }
}
