section {
    padding: 80px 0;
    @include breakpoint-sm {
        padding: 100px 0;
    }
}

.row > div:not(:last-child) {
    margin-bottom: 35px;
    @include breakpoint-md {
        margin-bottom: 0;
    }
}

.form > .row > div {
    margin-bottom: 25px;
    @include breakpoint-md {
        margin-bottom: 15px;
    }
}
