.footer {
	background-color: $gray-base;
	width: 100%;
	padding: 20px 0;
	border-top: 2px solid $brand-primary;

	&__description {
		@extend .text-center;
		@extend .text-marginless;
		@include responsive-text($font-size-base, $font-size-large);
		color: $white;
	}
}
