.header-nav {
    @extend .navbar;
    @extend .navbar-default;
    @extend .navbar-fixed-top;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;

    &__visible {
        visibility: visible;
        opacity: 1;
        background-color: $white;
        box-shadow: 0 0 20px $gray-base;
    }

     &__brand {
        @extend .navbar-brand;
        font-weight: $headings-font-weight;
        font-size: $brand-font-size-small;
        @include breakpoint-sm {
            font-size: $brand-font-size-base;
        }
     }
}
