$grid-gutter-width:         30px !default;
$grid-padding:      15px !default;
$navigation-large-min: 9999px !default;
$grid-float-breakpoint: 992px !default;

@import '../main';

:host {
    @extend html;
}
.section-markup-wrapper {
    @extend body;
    display: block;
    min-height: initial;
    position: relative;
}

.container {
    width: 100%;
}

.swatch {
    float: left;
    width: 75%;
    background-color: white;
    padding: 0;
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
.swatch-preview{
    display: block;
    float: left;
    height: 3.85rem;
    width: 75%;
    margin-right: 1rem;
}


